- content_for :page_title do
  = t(".listing_users")
- content_for :page_actions do
  %li
    = button_link_to t(".new_user"), new_object_url, icon: "icon-plus", id: "admin_new_user_link"
= render "admin/shared/users_sub_menu"

= form_with url: spree.admin_users_path, method: :get, local: true, data: { search_target: "form" } do |f|
  = render partial: "table", locals: { pagy: @pagy, users: @users }
